<HTML>
<head>
	<title>inputdata</title>
</head>
<Body>
	<form name="my" action="/datasave/" method="post">
	userid <input type="text" name="userid" size="20"><BR>
	name <input type="text" name="uname" size="20"><BR>
	city <input type="text" name="ucity" size="20"><BR>
	email <input type="text" name="uemail" size="20"><BR>
	phone <input type="text" name="uphone" size="20"><BR>
	<input type="submit" value="Save">
	</form>
	<form name="my" action="/datasave1/" method="post">
	subjectid <input type="text" name="subjectid" size="20"><BR>
	sname <input type="text" name="sname" size="20"><BR>
	stream <input type="text" name="stream" size="20"><BR>
	<input type="submit" value="Save">
	</form>
	<form name="my" action="/datasave2/" method="post">
	blogid <input type="text" name="blogid" size="20"><BR>
	userid <input type="text" name="userid" size="20"><BR>
	subjectid <input type="text" name="subjectid" size="20"><BR>
	blogtext <input type="text" name="blogtext" size="20"><BR>
	blogdescription <input type="text" name="blogdescription" size="20"><BR>
	rating <input type="text" name="rating" size="20"><BR>
	<input type="submit" value="Save">
	</form>
	<form name="my" action="/datasave3/" method="post">
	blogid <input type="text" name="blogid" size="20"><BR>
	userid <input type="text" name="userid" size="20"><BR>
	rating <input type="text" name="rating" size="20"><BR>
	<input type="submit" value="Save">
	</form>
	
</Body>
</HTML>


