<HTML>
<head>
	<title>datadelete</title>
</head>
<Body>
	<form name="my" action="/datadel/" method="post">
	userid <input type="text" name="userid" size="20"><BR>
	<input type="submit" value="delete">
	</form>
	<form name="my" action="/datadel1/" method="post">
	subjectid <input type="text" name="subjectid" size="20"><BR>
	<input type="submit" value="delete">
	</form>
	<form name="my" action="/datadel2/" method="post">
	blogid <input type="text" name="blogid" size="20"><BR>
	<input type="submit" value="delete">
	</form>
	<form name="my" action="/datadel3/" method="post">
	blogid <input type="text" name="blogid" size="20"><BR>
	<input type="submit" value="delete">
	</form>
</Body>
</HTML>


